@import "tailwindcss";

@theme {
    --color-prim: #0070f3;
    --color-white-lite: #fafafa;
    --color-white-dark: #f2f2f2cc;
    --color-shade-of-black: #171717;
    --color-borderColor: #0000001d;
    --color-deep-dark: #121212;
    --color-textCol: #666666;
    --animate-slide-forward: slide-forward 0.5s forwards;
    --animate-slide-back: slide-back 0.5s forwards;

    @keyframes slide-forward {
        0% {
            transform: translateX(-23rem);
        }
        100% {
        transform: translateX(0);
        }
    }

    @keyframes slide-back {
        0% {
            transform: translateX(0);
        }
        100% {
        transform: translateX(-23rem);
        }
    }
  }

.container-custom{
    width: 90%;
    margin: 0 auto;
}

.top-margin{
    margin-top: 5rem;
}

body{
    font-family: "Nunito", sans-serif;
    background-color:  #f2f2f2cc;
}

@media (min-width: 1000px){
    .container-custom{
        width: 85%;
    }
}

@media (min-width: 1500px){
    .container-custom{
        width: 65%;
    }
}

@media (min-width: 2560px){
    .container-custom{
        width: 60%;
    }
}