@import "tailwindcss";

@theme {
    --color-prim: #0070f3;
    --color-white-lite: #fafafa;
    --color-white-dark: #f2f2f2cc;
    --color-shade-of-black: #171717;
    --color-borderColor: #0000001d;
    --color-borderLite: rgb(139, 139, 139);
    --color-deep-dark: #121212;
    --color-textCol: #666666;
    --animate-slide-forward: slide-forward 0.5s forwards;
    --animate-slide-back: slide-back 0.5s forwards;
    --animate-rotate-illustration: rotate-illustration 10s infinite ease-in-out;
    --animate-bounce: bounce 1s infinite ease-in-out;

    @keyframes slide-forward {
        0% {
            transform: translateX(-23rem);
        }
        100% {
        transform: translateX(0);
        }
    }

    @keyframes slide-back {
        0% {
            transform: translateX(0);
        }
        100% {
        transform: translateX(-23rem);
        }
    }

    @keyframes rotate-illustration{
        0%{
            transform: rotate(0deg);
        }

        25%{
            transform: rotate(1deg);
        }

        75%{
            transform: rotate(-1deg);
        }

        100%{
            transform: rotate(0deg);
        }
    }

    @keyframes bounce {
        0%{
            transform: translateY(0);
        }

        50%{
            transform: translateY(3px);
        }

        100%{
            transform: translateY(0);
        }
    }
  }

.container-custom{
    width: 90%;
    margin: 0 auto;
}

.top-margin{
    margin-top: 5rem;
}

.hero_grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

/* .hero_grid > div{
    height: 20rem;
} */

body{
    font-family: "Poppins", sans-serif;
    background-color:  #f2f2f2cc;
}

@media (min-width: 700px){
    .hero_grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px){
    .hero_grid{
        grid-template-columns: 1.2fr 0.8fr;
    }
}

@media (min-width: 1000px){
    .container-custom{
        width: 85%;
    }

    .top-margin{
        margin-top: 6rem;
    }
}

@media (min-width: 1500px){
    .container-custom{
        width: 65%;
    }
}

@media (min-width: 2560px){
    .container-custom{
        width: 60%;
    }
}